.home-details {
    background-color: #f9fa;
}

@media only screen and (min-device-width: 481px) {
    .imgshow {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 115vh;
        width: 100%;
        grid-gap: -20px;
    }

    .info-text {
        padding-left: 1vw;
        padding-right: 1vw;
        padding-bottom: 2vh;
        font-family: "Quicksand", sans-serif !important;
        color: #752a87;
        
    }
    
    .info-text > a {
        font-size: 4.5rem;
        font-weight: bold;
    }

}