/* .card {
    display: grid;
    background-color: #c3aed6;
    border-radius: 5%;
    justify-self: stretch;
    text-align: center;
    padding: 5%;
    height: 300px;
} */

.card{
    position: relative;
    width:320px;
    height:420px;
    background: #c3aed6;
    border-radius: 20px 16px 12px 32px;
    background-image: linear-gradient(to right,#8675a9 48px, #8675a9 50px, transparent 50px);  
}
.card:after{
    content: ""; 
    position: absolute; 

    height: 52px;
    width: 310px; 
    bottom: 6px;
    right:0px;
    background: white;
    border-radius: 32px 4px 4px 32px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;  
    background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);     
}
.card:before{
    content: ""; 
    position: absolute; 

    height: 20px;
    width: 160px; 
    right: 40px;
    top: 20px; 
    background:#8675a9;
    border-radius: 20px;
    box-shadow: 0px 36px #8675a9;
        
}
.card-info{
    width: 100%;
    padding-left: 75px;
    padding-top: 90px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: "..."; 
}
.card-content{
    color: rebeccapurple;
}