.logohome {
  height: 80px;
  width: 100px;
  
}

.nav-menu {
  font-size:x-large;
  margin-right: 5vw;
}

.nav-link {
  position: relative;
  padding: 15px !important;
  font-weight: 1000;
}

/* .nav-link  */

.nav-link:before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: 11px;
  left: 8%;
  background-color: #752a87;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover:before {
  width:90%;
  visibility: visible;
}



.NavBar {
  background-color: #f9fa;
}
  
/* .mr-auto {
  display: grid  !important;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
  padding-right: 50px;
  
} */
/* #basic-navbar-nav {
  display: grid  !important;
  grid-gap: 10px;
  justify-self: end;
  justify-content: end !important;
} */

@media screen and (max-width: 900px) {
  
}