.logohome {
  height: 80px;
  width: 100px;
}

.nav-menu {
  font-size: x-large;
  margin-right: 1vw;
}

.NavLink {
  position: relative;
  padding: 15px !important;
  font-weight: 1000;
}

.NavLink:before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: 11px;
  left: 8%;
  background-color: #752a87;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.NavLink:hover:before {
  width: 90%;
  visibility: visible;
}

.NavBar {
  background-color: #f9fa;
}

.button {
  background-color: #8675a9 !important;
  border-color: #8675a9 !important;
  margin: 10px 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600 !important;
  color: white;
  border-radius: 30px !important;
  padding: 5px 15px !important;
  font-size: 1.3rem !important;
}

/* .mr-auto {
  display: grid  !important;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
  padding-right: 50px;
  
} */
/* #basic-navbar-nav {
  display: grid  !important;
  grid-gap: 10px;
  justify-self: end;
  justify-content: end !important;
} */

@media screen and (max-width: 900px) {
}
